---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ProjectsComponent from "@components/Projects"
import { projects as projectConstants } from "@consts"

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(projects.flatMap(project => project.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={projectConstants.TITLE} description={projectConstants.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
     
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ProjectsComponent client:load tags={tags} data={projects} />
    </div>
  </BottomLayout>
</PageLayout>
