---
import "@styles/global.css"
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import Drawer from "@components/Drawer.astro"
const { title, description } = Astro.props
import { SITE } from "@consts"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Header />
    <Drawer />
    <main>
      <div id="transition-screen" class="transition">
        <img id="logo" src="https://i.imgur.com/JaJA3rv.png" alt="Logo" class="logo"/>
      </div>

      <Fragment client:only>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            // Verificăm dacă suntem pe pagina principală
            const currentPath = window.location.pathname;
      
            // Dacă suntem pe index (pagina principală)
            if (currentPath === "/" || currentPath === "/index") {
              // Verificăm dacă tranzitia a fost deja afișată în această sesiune
              const transitionElement = document.getElementById("transition-screen");
      
              if (transitionElement) {
                if (!sessionStorage.getItem("hasVisited")) {
                  sessionStorage.setItem("hasVisited", "true");
      
                  // Așteptăm 4 secunde pentru a arăta tranzitia
                  setTimeout(() => {
                    transitionElement.classList.add("fade-out");
      
                    // După 1.5 secunde, ascundem tranzitia
                    setTimeout(() => {
                      transitionElement.classList.add("hidden");
                    }, 4000);
                  }, 4000);
                } else {
                  transitionElement.classList.add("hidden");
                }
              }
            } else {
              // Dacă nu suntem pe index, ascundem tranzitia
              const transitionElement = document.getElementById("transition-screen");
              if (transitionElement) {
                transitionElement.classList.add("hidden");
              }
            }
          });
        </script>
      </Fragment>
      



      <slot />
    </main>
    <Footer />
  </body>
</html>

